<div class="container wrapper wrapper2">
    <div class="row">
        <!-- Form -->
        <div class="col-md-12">
            <h3>Encuesta Músical</h3>
            <form [formGroup]="ncstForm" (ngSubmit)="submitForm()" novalidate>
                <div class="form-group">
                    <label>Email Usuario</label>
                    <input type="text" formControlName="emailUsuario" class="form-control" maxlength="50">
                </div>
                <div class="form-group">
                    <label>Estilo Músical</label>
                    <input type="text" formControlName="musicStyle" class="form-control" maxlength="50">
                </div>
                <button type="submit" class="btn btn-primary p-2">Submit</button>
            </form>
        </div>
    </div>
</div>
